body {
    background-color: #853a3a
}

#title {
    color: black;
    font-size: 4ch;
    display: block;
    text-align: center;
}

#text {
    background-color: black;
    color: white;
    padding: 10px;
    
}

#game {
    max-width: 500px;
    max-height: 500px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#game img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
}

#controls {
    border: 1px black solid;
    padding: 5px;
}

#stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding-right: 10px;
}

.img {
    width: 70%;
    height: 60%;
    padding: 15px;
}